@{
    ViewData["Title"] = "Página Principal";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos</h1>
    <p><a href="https://docs.microsoft.com/aspnet/core">Página desarrollada por Valentina Chong Zavala
                    y Stefany Moreno Mero con ASP.NET Core</a>.</p>
</div>
